<section class="navbar-section">
    <app-navbar class="about-me-navbar"></app-navbar>
</section>

<h3 class="text-lead font-weight-bold text-center mt-3" style="color:#ff8000;"><i class="far fa-hourglass"></i> <u>Experience Summary</u></h3>

<div class="card bg-primary mx-3 mt-3 mb-3">
    <div class="row m-1 bg-white">
        <div class="col">
            <div class="card-body bg-primary my-3 text-white">
                <h5 class="card-title font-weight-bold text-center"><u>Cognizant Technology Solutions</u></h5>
                <p class="card-text">Worked with <b>Cognizant</b> for five years. Had worked as APIs developer using <b>Node & Java</b> technologies</p>
            </div>
            <div class="card-header bg-primary text-white font-weight-bold"><u>Summary:</u></div>
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item bg-primary text-white">Involved in developing <b>AWS API Gateway - Lambda based microservices</b> during the recent 1.5 years.</li>
                <li class="list-group-item bg-primary text-white">Had designed and developed ReST APIs</li>
                <li class="list-group-item bg-primary text-white"><b>Lead developer dealing with various modules of the application</b> like Quotes, Payments, Callback, Statements, Billing and Consumption.</li>
                <li class="list-group-item bg-primary text-white">Involved in imparting knowledge transfer sessions on various modules of the application.</li>
                <li class="list-group-item bg-primary text-white">Involved in <b>writing and reviewing code of peers</b>  there by maintaining code quality and code uniformity.</li>
            </ul>
        </div>
    </div>
</div>

<div class="card bg-warning mx-3 mt-3 mb-3">
    <div class="row m-1 bg-white">
        <div class="col">
            <div class="card-body bg-warning my-3 text-white">
                <h5 class="card-title font-weight-bold text-center"><u>Cognizant Technology Solutions</u></h5>
                <p class="card-text">Worked with <b>Cognizant</b> for five years. Had worked as APIs developer using <b>Node & Java</b> technologies</p>
            </div>
            <div class="card-header bg-warning text-white font-weight-bold"><u>Summary:</u></div>
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item bg-warning text-white">Involved in developing <b>AWS API Gateway - Lambda based microservices</b> during the recent 1.5 years.</li>
                <li class="list-group-item bg-warning text-white">Had designed and developed ReST APIs</li>
                <li class="list-group-item bg-warning text-white"><b>Lead developer dealing with various modules of the application</b> like Quotes, Payments, Callback, Statements, Billing and Consumption.</li>
                <li class="list-group-item bg-warning text-white">Involved in imparting knowledge transfer sessions on various modules of the application.</li>
                <li class="list-group-item bg-warning text-white">Involved in <b>writing and reviewing code of peers</b>  there by maintaining code quality and code uniformity.</li>
            </ul>
        </div>
    </div>
</div>