<section class="navbar-section">
    <app-navbar class="about-me-navbar"></app-navbar>
</section>

<h1 class="text-lead text-lead text-center mt-3">Experience Summary</h1>

<div class="container-fluid">
    <div class="card-deck">

        <div class="card bg-primary">
            <div class="card-body bg-white m-1">
                <h3 class="card-title font-weight-bold text-primary text-center mb-0"><u>Cognizant Technology Solutions (2014 - 2019)</u></h3>
                <p class="card-text text-center text-muted mt-0"><i><small>Worked with Cognizant for five years. Had worked as APIs developer using <b>Node & Java</b> technologies</small></i></p>
            </div>
            <div class="card-header text-white font-weight-bold"><u>Summary:</u></div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-primary text-white">>><b> Lead developer dealing with various modules of the application</b> like Quotes, Payments, Callback, Statements, Billing and Consumption.</li>
                <li class="list-group-item bg-primary text-white">>> Design and development of ReST APIs</li>
                <li class="list-group-item bg-primary text-white">>> Imparting knowledge transfer sessions on various modules of the application.</li>
                <li class="list-group-item bg-primary text-white">>> Religious participation in peer review discussions there by maintaining code quality.</li>
                <li class="list-group-item bg-primary text-white">>> Estimations and planning of new change requests and/or migrating existing changes to <b>AWS Cloud</b>.</li>
                <!--
                    <li class="list-group-item border-primary text-center"><button class="btn btn-outline-primary">Technologies</button></li>
                -->
                <li class="list-group-item border-primary text-center"><button class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">Technologies</button></li>
            </ul>
        </div>

        <div class="card bg-danger">
            <div class="card-body bg-white m-1">
                <h3 class="card-title font-weight-bold text-center text-danger mb-0"><u>UST Global from 2019</u></h3>
                <p class="card-text text-center mt-0 text-muted"><i><small>Currently working with UST Global as Alexa custom skills developer predominantly in  <b>Node & Java on AWS infrastructure</b></small></i></p>
            </div>
            <div class="card-header bg-danger text-white font-weight-bold"><u>Summary:</u></div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-danger text-white">>> Senior Software Engineer developing custom skills for Alexa – Personal voice assistant by Amazon.</li>
                <li class="list-group-item bg-danger text-white">>> Design and development of ReST web-services and AWS Lambdas predominantly in NodeJS.</li>
                <li class="list-group-item bg-danger text-white">>> Integration with SpringBoot APIs and customize the data for voice interaction.</li>
                <li class="list-group-item bg-danger text-white">>> Maintain code quality and code uniformity – responsible to write timeless code every time.</li>
                <!--
                    <li class="list-group-item border-danger text-center"><button class="btn btn-outline-danger">Technologies</button></li>
                -->
                <li class="list-group-item border-danger text-center"><button class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">Technologies</button></li>
            </ul>
        </div>
    </div>
</div>

<app-technology-stack></app-technology-stack>