<section class="navbar-section" style="height: 7vh;">
    <app-navbar class="about-me-navbar"></app-navbar>
</section>

<section style="height: 90vh;" class="bg-light d-flex align-items-center justify-content-center">
    <div class="card col-6 p-0 bg-dark rounded">
        <img src="./assets/img/Mean-Stack-Application-Development.jpg" class="card-img-top img-fluid" alt="M.E.A.N Stack">
        <div class="card-body">
            <h5 class="card-title m-0 text-white font-weight-bold">Mean Stack Certified</h5>
            <p class="card-text m-0 text-white"><u>Certified by </u>: <b>StackRoute</b>, A learning initiative by <b>NIIT</b>.</p>
            <hr class="bg-success mb-0">
            <hr class="bg-warning my-0">
            <hr class="bg-info my-0">
            <hr class="bg-danger mt-0">
            <p class="card-text m-0 text-white">Certified Full-Stack develper with specialization in <b>M.E.A.N Stack</b>. Certification included creating an Angular application, which, thereby gave a solid understanding of the basics of middleware and front-end.</p>
        </div>
    </div>
</section>