<section class="navbar-section">
    <app-navbar class="about-me-navbar"></app-navbar>
</section>

<section class="about-me-section">
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 my-3 d-flex flex-column justify-content-center">
                <img src="/assets/img/me.jpg" alt="Abhilash" class="rounded img-fluid">
            </div>
            <div class="col-md-6 container-fluid bg-light justify-content-center my-3 d-flex flex-column justify-content-center">
                <p class="mt-0 text-dark">Pleasure meeting you here! Knowing more about me is simple, just gothrough the introduction of my experience following below.</p>

                <div class="about-me-actual-description">
                    <hr>

                    <h5 class="font-weight-bold text-danger text-center"><i class="fas fa-cogs"></i> Experience in Middleware</h5>
                    <p class="text-muted text-left">Have over 5 years of experience in developing realtime web-applications using <b class="text-dark">Java and NodeJS</b> technologies. Have proved experience in <b class="text-dark">developing and designing ReSTful APIs</b>. Currently working on <b class="text-dark">AWS</b> for the past 2 years with descent exposure to <b class="text-dark">AWS Lambda and AWS Gateway based micro-services</b>. Have good exposure to <b class="text-dark">Spring-Boot</b> with a hands-on experience of 1 year.</p>

                    <hr>


                    <h5 class="font-weight-bold text-danger text-center"><i class="fas fa-paint-roller"></i> Experience in Front-end</h5>
                    <p class="text-muted text-left"><b class="text-dark">Being a certified Angular (version 2 and above) developer</b>, I have over 1.5 years of hands-on experience in developing web-applications with <b class="text-dark">Angular and Angular Material</b>. I'm always fascinated with the web-design, layouts and styling. Have been continuously learning how to make user more engaged and web-layouts more user friendly.</p>

                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="text-center mb-3">
    <button class="btn btn-outline-dark btn-sm mx-3" (click)='downloadResume()'><i class="fa fa-download" aria-hidden="true"></i> Resume</button>
    <a class="btn btn-outline-dark btn-sm mx-3" [routerLink]="['/experience-summary']"><i class="fas fa-list-alt"></i> Experience</a>
</div>