<section class="navbar-section">
    <app-navbar class="about-me-navbar"></app-navbar>
</section>

<section class="my-5">
    <div class="container-fluid">
        <hr>
        <div class="row">
            <div class="p-0 m-0 col-md-6 bg-secondary text-white contact-me-background d-flex flex-column align-items-center justify-content-center">
                <h3 class="font-weight-bold my-0"><u>Connect With Me</u></h3>
                <p class="my-0">Email @: <b><u>abhilashkokkonda@gmail.com</u></b></p>
                <h5 class="my-0">Call @: <b><u>+91 9494 - 874 - 335</u></b></h5>
            </div>
            <div class="col-md-6 p-0 m-0">
                <div class="location">
                    <iframe class="m-0 p-0 container-fluid" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d951.5636317960177!2d78.3902034324902!3d17.44752761968589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcbb17444d6128c48!2sRavindra%20Executive%20Mens%20PG!5e0!3m2!1sen!2sin!4v1572333871333!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>